@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}

body {
  color:antiquewhite;
  font-family:'Courier New', Courier, monospace;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
}

.container {
  background-color:rgb(167, 157, 151);
  margin: 5px;
}

.card-container {
  background-color:rgb(167, 157, 151);
}

.header-container {
  background-color: lightblue;
}

h1 {
  color:rgb(1, 75, 99);
  font-family:'Courier New', Courier, monospace;
  font-size: 30px;
  font-weight: 800;
  line-height: normal;
  text-align: center;
  margin: 10px;
}

h2 {
  color:lightblue;
  font-family:'Courier New', Courier, monospace;
  font-size: 18px;
  font-weight: 700;
  line-height: normal;
  text-align: center;
  margin: 10px;
}
h3 {
  color:lightblue;
  font-family:'Courier New', Courier, monospace;
  font-size: 18px;
  font-weight: 700;
  line-height: normal;
  text-align: center;
  margin: 10px;
}

i {
  font-size: 40px;
  color: rgb(167, 157, 151);
}

a {
  text-decoration: none;
  margin: 15px;
}

i:hover {
  color: rgb(84, 67, 53);
}

.img-circle {
  width: 150px;
  border-radius: 50%;
  margin: 5px;
}

.card-brown {
  background:rgb(122, 105, 91);
  max-width: 700px;
  box-shadow: 3px 3px 3px rgb(97, 85, 85);
  margin: 20px auto;
  padding: 10px;
  border-radius: 15px;
}

.styled-button{
  color: antiquewhite;
  background:rgb(84, 67, 53);
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
  line-height: 18px;
  margin: 10px;
}
