@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}

body {
  margin: 0px; /* remove default margin*/
}

/* Navbar */

/* Language-Button */
.btn-container {
  display: flex;
  justify-content: end;
  padding: 0px 15px;
  background-color:lightblue;
}

.btn-lang {
  font-size: 1rem;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(84, 67, 53);
  background-color:  white;
  border: 2px solid rgb(84, 67, 53) ;
  display: inline; /* 背景を文字の幅に合わせる */
  padding: 2px 5px; /* 少し余白をつけると見やすい */
  border-radius: 5px; /* 角を丸くする（任意） */
}

.btn-lang:hover{
  background-color: antiquewhite;
}

/* Banner */
.background-banner {
  background-image: linear-gradient(rgba(64, 120, 137, 0.2), rgba(131, 220, 250, 0.1)),url(images/16-9.JPG);
  background-size: cover;
  background-position:top;
  box-shadow: 0 0 20px rgba(0,0,0,0.2);
  height: 100vh;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

.eng-white{
  font-size: 3.5rem;
  color: white !important;
  font-family:'Courier New', Courier, monospace;
  font-weight: bold !important;
  text-shadow: 5px 5px 10px rgb(44, 89, 104);
  animation-duration: 2s;
  animation-name: slidein;
  padding: 1rem;

}

.jp-white{
  font-size: 3rem;
  color: white !important;
  font-family:Arial, Helvetica, sans-serif;
  font-weight: bold !important;
  text-shadow: 5px 5px 10px rgb(44, 89, 104);
  animation-duration: 2s;
  animation-name: slidein;
  padding: 1rem;
}

.eng-brown{
  color: rgb(84, 67, 53);
  font-family:Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  margin: 0px;
  animation-duration: 2s;
  animation-name: slidein;
  animation-delay: 1s;
  animation-fill-mode: both;
  padding: 1rem;
}

.jp-brown{
  color: rgb(84, 67, 53);
  font-family:Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  margin: 0px;
  animation-duration: 2s;
  animation-name: slidein;
  animation-delay: 1s;
  animation-fill-mode: both;
  padding: 1rem;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.img-circle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  box-shadow: 4px 4px 12px rgb(0, 0, 0, 0.5);
  opacity: 0; /* 初期状態は非表示 */
  animation: fadein 1s ease-in forwards;
  animation-delay: 1s;
  margin: 1rem;
}


a {
  text-decoration: none !important;
}

/* Contents */
.background-beige{
  width: 100%;
  background-color:rgb(229 220 214);
}

.middle-container {
  width: 80%;
  margin: 0 auto; /* 左右中央に配置 */
}

.category-title {
  font-family:'Courier New', Courier, monospace;
  font-weight: bold;
  font-size: 2rem;
  color: rgb(84, 67, 53);
  text-shadow: 5px 5px 10px rgb(0,0,0,0.5);
}

.card-brown {
  background:rgb(122, 105, 91);
  box-shadow: 4px 4px 12px rgb(0, 0, 0, 0.5);
  margin: 10px 20px;
  padding: 16px;
  border-radius: 15px;
}

.card-brown h2 {
  color:lightblue;
  font-family:'Courier New', Courier, monospace;
  font-size: 1.5rem;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  text-align: center;
}

.card-brown h2:hover {
  /* color:rgb(21, 97, 123) !important; */
  color: rgb(84, 67, 53);
}

i {
  font-size: 1rem;
  color: lightblue;
}

i:hover {
  color: rgb(84, 67, 53);
}


.card-brown img {
  border-radius: 15px;
  border: 1px solid antiquewhite;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 200px;
  object-fit: cover;
  margin: 10px auto;
}

.card-brown p {
  color: antiquewhite;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  margin: 0px;
}

.small-brown {
  font-size: 0.7rem;
  font-family: Arial, Helvetica, sans-serif;
  background-color:  rgb(84, 67, 53);
  display: inline; /* 背景を文字の幅に合わせる */
  padding: 2px 5px; /* 少し余白をつけると見やすい */
  border-radius: 5px; /* 角を丸くする（任意） */
  /* border:1px solid antiquewhite ; */
}

.small-text{
  font-size: 0.7rem;
  font-family: Arial, Helvetica, sans-serif;
}

/* Footer */
.footer {
  background-color: lightblue;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
}

.footer-container {
  width: 80%;
  margin: 0 auto; /* 左右中央に配置 */
  display: flex;
  align-items: center;
  justify-content: space-between;

}
.footer-links {
  display: flex;
  align-items: center;
}

.footer-links a {
  margin: 0px 15px;
}

.icon-brown {
  font-size: 2rem;
  color: rgb(122, 105, 91);
}
