@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}

body {
  margin: 0px; /* remove default margin*/
  /* padding-top: 4rem; */

}

/* Navbar */
.navbar{
  font-family: "Nunito", sans-serif;
  height: 4rem;
  background-color:rgb(88, 130, 145);
  display: flex;
  justify-content: end !important;
  align-items: center;
  padding: 1rem 0rem;
  position:fixed !important;/* 固定 */
  top:0;
  left: 0;
  width: 100%;
  z-index: 1000; /* 他の要素より前面に表示 */
  flex-wrap: nowrap !important;
}

.tabs-underlined {
  display: flex;
  align-items: center;
}

.tabs-underlined .tab-underlined {
  color: white;
  font-size: 1.25rem;
  padding: 8px;
  margin: 8px;
  opacity: 0.4;
  cursor: pointer;
  text-decoration: none;
  border-bottom: 4px solid transparent;
}

.tabs-underlined .tab-underlined.active {
  opacity: 1;
  border-bottom: 3px solid #555555;
}

.btn-container{
  margin: 1rem;
  display: flex;
  align-items: center;

}
.btn-lang {
  font-size: 1rem;
  font-family: "Nunito", sans-serif;
  color: white;
  background-color: rgb(84, 67, 53);
  box-shadow: 0 0 20px rgba(0,0,0,0.2);
  display: inline; /* 背景を文字の幅に合わせる */
  padding: 5px 5px; /* 少し余白をつけると見やすい */
  border-radius: 5px; /* 角を丸くする（任意） */
}

.btn-lang:hover{
  color: rgb(84, 67, 53);
  background-color:  rgb(255,255,255,0.8);
}

.btn-lang.active{
  color: rgb(84, 67, 53);
  background-color:  rgb(255,255,255,0.8);
}

/* Profile Banner */
.background-banner {
  padding-top: 4rem;/*navbar分あける*/
  background-image: linear-gradient(rgba(64, 120, 137, 0.3), rgba(131, 220, 250, 0.1)),url(images/16-9.JPG);
  background-size: cover;
  background-position:top;
  height: 100vh;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

.eng-white{
  font-size: 3rem;
  color: white !important;
  font-family:'Courier New', Courier, monospace;
  font-weight: bold !important;
  text-shadow: 5px 5px 10px rgb(44, 89, 104);
  animation-duration: 2s;
  animation-name: slidein;
  padding: 1rem;
}

.jp-white{
  font-size: 3rem;
  color: white !important;
  /* font-family: "Zen Maru Gothic", serif; */
  /* font-family: "M PLUS Rounded 1c", sans-serif; */
  /* font-family: "Hina Mincho", serif; */
  /* font-family: "Sawarabi Mincho", serif; */
  font-family: "Shippori Mincho", serif;
  font-weight: bold !important;
  text-shadow: 5px 5px 10px rgb(44, 89, 104);
  animation-duration: 2s;
  animation-name: slidein;
  padding: 1rem;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.large-eng-brown{
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  color: rgb(84, 67, 53);
  padding-bottom: 1rem;
  text-shadow: 5px 5px 10px rgb(0,0,0,0.5);
  opacity: 0; /* 初期状態は非表示 */
  animation: fadein 2s ease-in forwards;
  animation-delay: 2s;
}

.large-jp-brown{
  /* font-family: "Nunito", sans-serif; */
  /* font-family: "Zen Maru Gothic", serif; */
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  color: rgb(84, 67, 53);
  padding-bottom: 1rem;
  text-shadow: 5px 5px 10px rgb(0,0,0,0.5);
  opacity: 0; /* 初期状態は非表示 */
  animation: fadein 2s ease-in forwards;
  animation-delay: 2s;
}


.eng-brown{
  color: rgb(84, 67, 53);
  /* font-family: "Nunito", sans-serif; */
  /* font-family: "M PLUS Rounded 1c", sans-serif; */
  font-family: "Zen Maru Gothic", serif;
  font-size: 1rem;
  text-shadow: 1px 1px 3px rgb(0,0,0,0.5);
  margin: 0px;
  opacity: 0; /* 初期状態は非表示 */
  animation: fadein 2s ease-in forwards;
  animation-delay: 2s;
}

.jp-brown{
  color: rgb(84, 67, 53);
  font-family: "Nunito", sans-serif;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-size: 1rem;
  text-shadow: 1px 1px 3px rgb(0,0,0,0.5);
  margin: 0px;
  opacity: 0; /* 初期状態は非表示 */
  animation: fadein 2s ease-in forwards;
  animation-delay: 2s;
}

.img-circle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  box-shadow: 4px 4px 20px rgb(0, 0, 0, 0.7);
  opacity: 0; /* 初期状態は非表示 */
  animation: fadein 2s ease-in forwards;
  animation-delay: 2s;
  margin: 2rem;
}

/* Contact */
.contact-container{
  width: 70%;
  margin: 1rem auto;
  padding: 1rem;
  background-color: rgb(255,255,255,0.2);
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0,0,0,0.2);
  opacity: 0; /* 初期状態は非表示 */
  animation: fadein 2s ease-in forwards;
  animation-delay: 2s;
}

.contact-links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-brown {
  font-size: 2.5rem;
  color:rgb(84, 67, 53);
  text-shadow: 5px 5px 10px rgb(0,0,0,0.5);
  margin: 0px 2rem;
}

.icon-brown:hover{
  color: rgb(116, 170, 188);
  text-shadow: 5px 5px 10px rgb(44, 89, 104);
}

/* Common components */
.background-beige{
  width: 100%;
  background:linear-gradient(rgb(202, 197, 193, 0.8), rgba(202, 197, 193, 0.4));
}

.middle-container {
  width: 80%;
  margin: 0 auto; /* 左右中央に配置 */
}

.category-title {
  /* font-family:'Courier New', Courier, monospace; */
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  color: rgb(84, 67, 53);
  text-shadow: 5px 5px 10px rgb(0,0,0,0.5);
  padding: 1rem;
}


/* Skills */
.my-skill-container{
  padding: 3rem 0rem;
}

.eng-blue{
  color: rgb(88, 130, 145);
  font-size: 1rem;
  /* font-family:'Courier New', Courier, monospace; */
  font-family: "Nunito", sans-serif;
  font-weight: bold;
}
.skill-img-container{
  margin: 1rem auto;
  padding: 1rem;
  background-color: rgb(255,255,255,0.5);
  display: inline-block;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0,0,0,0.2);
}

.skill-category{
  padding: 1rem 0rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.skill-img{
  width: 3rem;
  height: auto;
  margin: 0.5rem;
}

/* Projects */
.projects-container{
  padding: 3rem 0rem 2rem 0rem;
}

.card-brown {
  background:rgb(122, 105, 91);
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
  margin: 1rem;
  padding: 1rem;
  border-radius: 10px;
}

.card-brown h2 {
  color:lightblue;
  /* font-family:Arial, Helvetica, sans-serif; */
  font-family: "Nunito", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  text-align: center;
  margin: 1rem;
}

.card-brown h2:hover {
  color: rgb(84, 67, 53);
}

a {
  text-decoration: none !important;
}

.link-icon {
  font-size: 1rem;
  color: lightblue;
}

.link-icon:hover {
  color: rgb(84, 67, 53);
}

.card-brown img {
  border-radius: 5px;
  border: 1px solid antiquewhite;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 240px;
  object-fit: cover;
  margin: 10px auto;
}

.card-text {
  color: rgb(255,255,255,0.8);
  font-family: "Nunito", sans-serif;
  /* font-family: Arial, Helvetica, sans-serif; */
  font-size: 1rem;
  margin: 0px;
}

.card-text-jp {
  color: rgb(255,255,255,0.8);
  font-family: "M PLUS Rounded 1c", sans-serif;
  /* font-family: "Nunito", sans-serif; */
  /* font-family: Arial, Helvetica, sans-serif; */
  font-size: 1rem;
  margin: 0px;
}

.small-text{
  color: rgb(255,255,255,0.8);
  font-size: 0.8rem;
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: "Nunito", sans-serif;
}
.small-text-jp{
  color: rgb(255,255,255,0.8);
  font-size: 0.8rem;
  font-family: "M PLUS Rounded 1c", sans-serif;
  /* font-family: Arial, Helvetica, sans-serif; */
  /* font-family: "Nunito", sans-serif; */
}

.devicon-container{
  padding: 1rem 0rem;
}

.devicon{
  font-size: 1.5rem;
  color: rgb(255,255,255,0.8);
  text-shadow: 5px 5px 10px rgb(0,0,0,0.5);
}

.devicon svg {
  width: 1.5rem;
  height: 1.5rem;
  vertical-align: middle; /* 見た目の揃え */
  color: rgb(255,255,255,0.8);
  text-shadow: 5px 5px 10px rgb(0,0,0,0.5);

}

.back-to-top {
  color:rgb(88, 130, 145);
  font-size: 2rem;
  font-weight: bold;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: rgb(255,255,255,0.8);
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

.back-to-top:hover{
  color: rgb(255,255,255,0.8);
  background-color:rgb(88, 130, 145);
}

/* Footer */
.footer {
  background-color:rgb(88, 130, 145);
  display: flex;
  align-items: center;
  height: 100px;
  padding: 0px 50px;
  color: rgb(255,255,255,0.8);
}

.footer-container {
  width: 80%;
  margin: 0 auto; /* 左右中央に配置 */
}
